.header {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    margin-left: 36px;
}

.header a:hover {
    color: orange;
}